
body {
  background-color: #8ecab6;
  font-family: 'Roboto', sans-serif;
}

.centered {
    padding-top: 200px;
    text-align: center;
    background-color:  #8ecab6;
}

.card{
  background-color:  #afe0d0;
}

.background{
  background-color:  #8ecab6;
}

.title{
  margin-top: 2rem;
  font-weight: 500;
}

hr{
  margin: 2rem;
}

.collection{
  margin-bottom: 20px;
}

.fa-times:hover{
  color: grey;
}
.x-button{
  background-color: transparent;
  border: none;
  margin: 0px 0px, 5px 10px;
}


.list{
  list-style-type: none;
}

.secret-text {
  text-align: left;
  font-size: 1rem;
  color: black;
  background-color:white;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  display: flex;
  
  justify-content: space-between;
}

.own-story{
  padding-right: 40px;
}

div.secret-text{
  margin-top: 20px;
}

.form-group{
  margin-top: 20px;
}

.hidden{
  display: none;
}

.button {
  background-color: none; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.txtarea{
  background-color: rgb(208, 230, 245);
}

